{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participants</h1>
    <a href="{{ path('participant_new') }}">Add new participant</a>
    <ul>
        {% for participant in participants %}
            <li>{{ participant.name }} - {{ participant.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}
